<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The Developer Post is an independant news organization dedicated to sharing helpful guides, unbaised reviews, and latest trends surrounding tech and business."
    />

    <script src="//unpkg.com/alpinejs" defer></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5901823841459111"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/main.css" />
    <title>The Developer Post</title>
  </head>
  <body class="font-poppins m-0 p-0 bg-slate-100">
    {{ partial "header.html" . }} {{/* Desktop Ads */}}
    <div class="hidden">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5901823841459111"
        crossorigin="anonymous"
      ></script>
      <!-- Desktop Header and Footer -->
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-5901823841459111"
        data-ad-slot="1174277416"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    {{/* Mobile Ads */}}
    <div class="hidden">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5901823841459111"
        crossorigin="anonymous"
      ></script>
      <!-- Mobile Header and Footer -->
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-5901823841459111"
        data-ad-slot="5759539627"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <main class="px-8 md:px-24 lg:px-72 mt-6 sm:mt-0">
      {{block "main" . }} {{end}}
    </main>
    {{/* Desktop Ads */}}
    <div class="hidden">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5901823841459111"
        crossorigin="anonymous"
      ></script>
      <!-- Desktop Header and Footer -->
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-5901823841459111"
        data-ad-slot="1174277416"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    {{/* Mobile Ads */}}
    <div class="hidden">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5901823841459111"
        crossorigin="anonymous"
      ></script>
      <!-- Mobile Header and Footer -->
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-5901823841459111"
        data-ad-slot="5759539627"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
