<div class="flex flex-wrap justify-center items-center">
  <div>
    <h1 class="text-2xl sm:text-3xl">To inform and attract.</h1>
    <p class="">
      The Developer Post was started by Joseph Bickford as a product of his love
      for all things software developement. The goal of this site is to provide
      excellent guides, reviews, and news that are engaging to developers and
      those interested in the industry. Since tutoring in college Joseph has
      always loved to introduce people to the art of programming and hopes this
      site can make a positive impact.
    </p>
  </div>
  <div>
    <img
      src="/img/TheDeveloperPost.svg"
      alt="The Developer Post Logo"
      class="hidden sm:block"
    />
  </div>
</div>
